.balance-block{
	position: fixed;
	min-height: 560px;
	height: 100vh;
	width: 100%;
	background: #fff url(../images/img-portfolio-bg.svg) left top repeat;
	z-index: 1;
	padding: 70px 0;
}
.table-balance{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}
.table-balance table{
	width: 100%;
	background-color: #fff;
	border-collapse: collapse;
}
.table-balance table tr{
	height: 40px;
}
.table-balance table td, .table-balance table th{
	vertical-align: middle;
	border: 1px solid #bff8f5;
	padding: 8px;
}
.table-balance table th:first-child{
	width: 60%;
}
.table-balance table td:first-child{
	text-align: center;
}
.table-balance table td:last-child{
	text-align: right;
}