/* General options */
html{
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	margin: 0;
	color: #2d2d2d;
	background-color: #fff;
	font: 400 14px/22px 'Nunito', sans-serif;
}
img{ border-style: none; }
p {margin: 0;}
a{
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover{
	color: #555;
	text-decoration: none;
}
input,
textarea,
select{
	color: #ccc;
	vertical-align: middle;
	font-family: 'Nunito', sans-serif;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: all ease .3s;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner{
	border: none;
	padding: 0;
}
.form-control{
	-webkit-appearance: none;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
blockquote,
q{quotes: none;}
q:before,
q:after {content: '';}

::-moz-placeholder,
:-moz-placeholder{opacity: 1;}
::-moz-placeholder{color: #333;}
:-ms-input-placeholder{color: #333;}
::-webkit-input-placeholder{color: #333;}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus{outline: none;}
input[type="search"] {
	-webkit-appearance: textfield;
}
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper{
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
	-webkit-transition: transform .5s, padding 0s;
	transition: transform .5s, padding 0s;
	-webkit-transform: none;
	transform: none;
	transform-origin: 50% 50%;
	z-index: 2;
	background: #fff;
}
.container{
	padding: 0 15px;
	max-width: 1024px;
	margin: 0 auto;
}
.container:after{
	content: '';
	clear: both;
	display: block;
}
.hidden{
	display: none;
}
h1{
	font-size: 40px;
	line-height: 52px;
	font-weight: 700;
	color: #444;
	text-align: center;
	margin: 0 0 38px;
	letter-spacing: 8px;
	text-shadow: 2px 2px 8px #000;
}
h1 span{
	display: inline-block;
	vertical-align: top;
	color: #3dc9b3;
	font-weight: 900;
}
h2{
	font-size: 24px;
	line-height: 30px;
	font-weight: 900;
	color: #2d2d2d;
	text-align: center;
	margin: 0 0 20px;
}
h3, .typed-cursor{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	height: 28px;
	text-align: center;
	color: #2d2d2d;
	margin: 0 0 40px;
}
.typed-cursor{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.typed{
	opacity: 0;
	visibility: hidden;
	color: #fff;
}
.slick-current .typed{
	opacity: 1;
	visibility: visible;
	color: #2d2d2d;
	-webkit-transition: all 4.5s ease-out;
	transition: all 4.5s ease-out;
}

.btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	padding: 12px 14px;
	min-width: 180px;
	border: 0;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
	outline: 0;
}
.btn-primary{
	background: #fff66c;
	color: #2d2d2d;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	border: 1px solid rgb(149, 200, 70);
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
	background: #fff886;
	border: 1px solid rgba(61, 202, 179, 0.6);
	box-shadow: 0 9px 5px -4px rgba(0,0,0,.3);
	transform: translateY(4px);
}

.btn-default{
	position: relative;
	cursor: pointer;
	background: #fff66c;
	max-width: 250px;
	width: 100%;
	height: 58px;
	line-height: 34px;
	z-index: 0;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.25);
	text-align: left;
}
.btn-default span{
	display: inline-block;
	vertical-align: middle;
	color: #2d2d2d;
	padding-left: 35px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.25;
	font-weight: 600;
	transform: scaleX(0.6);
	letter-spacing: 3px;
	transform-origin: center left;
	transition: color 0.3s ease;
	position: relative;
	z-index: 1;
}
.btn-default .ico{
	position: absolute;
	right: 23px;
	top: 47%;
	transform-origin: center right;
	z-index: 1;
	line-height: 0;
	font-size: 0;
}
.btn-default svg{
	width: 33px;
	height: auto;
}
.btn-default svg path{
	stroke: #2d2d2d;
	transition: all 0.3s ease;
}

.btn-default:before, .btn-default:after{
	content: '';
	background: #fff;
	height: 50%;
	width: 0;
	position: absolute;
	transition: .3s cubic-bezier(.785,.135,.15,.86);
	z-index: 0;
}
.btn-default:before{
	top: 0;
	left: 0;
	right: auto;
}
.btn-default:after{
	bottom: 0;
	right: 0;
	left: auto;
}
.btn-default:active:before,
.btn-default:focus:before,
.btn-default:hover:before{
	width: 100%;
	right: 0;
	left: auto;
}
.btn-default:active:after,
.btn-default:focus:after,
.btn-default:hover:after{
	width: 100%;
	left: 0;
	right: auto;
}
.btn-default:active span,
.btn-default:focus span,
.btn-default:hover span{
	color: #001c2a;
}
.btn-default:active svg path,
.btn-default:focus svg path,
.btn-default:hover svg path{
	stroke: #001c2a;
}

.btn-warning{
	color: #fff;
	border: 1px solid #2cb5a6;
	background: #3ac5b0;
	max-width: 190px;
	font-size: 13px;
	line-height: 16px;
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover{
	background: #fff;
	border: 1px solid #333;
	color: #1d1d1d;
}
.btn-front{
	display: block;
	margin: 0 auto;
	background-color: #d62114;
	color: #fff;
	letter-spacing: 0;
	max-width: 100px;
}
.btn-front:active,
.btn-front:focus,
.btn-front:hover{
	background-color: #fb5145;
	color: #fff;
}

.heading{
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.heading .icon{
	position: absolute;
	width: 260px;
	height: 20px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.heading .icon:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 8px;
	left: 50%;
	border-top: 3px solid transparent;
	border-right: 3px solid transparent;
	width: 14px;
	height: 14px;
	margin: auto;
	border-color: #45cbb6;
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
}
.heading .icon span{
	display: block;
	position: absolute;
	top: 6px;
	width: 95px;
	height: 6px;
}
.heading .icon span i{
	display: block;
	position: absolute;
	top: 50%;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: transparent;
	transform: translateY(-50%);
}
.heading .icon span.black i{
	background: #2d2d2d;
}
.heading .icon span.white i{
	background: #fff;
}
@keyframes moveleft{
	from{
		transform: translate(0, -50%);
	}
	to{
		transform: translate(90px, -50%);
	}
}
@keyframes moveright{
	from{
		transform: translate(90px, -50%);
	}
	to{
		transform: translate(0, -50%);
	}
}
.heading .icon span:first-child{
	left: 0;
}
.heading .icon span:first-child i{
	animation: moveright 3s infinite;
}
.heading .icon span:last-child{
	right: 0;
}
.heading .icon span:last-child i{
	animation: moveleft 3s infinite;
}

.heading .icon span i:nth-child(1){animation-delay: .1s;}
.heading .icon span i:nth-child(2){animation-delay: .4s;}
.heading .icon span i:nth-child(3){animation-delay: .7s;}
.heading .icon span i:nth-child(4){animation-delay: 1s;}
.heading .icon span i:nth-child(5){animation-delay: 1.3s;}
.heading .icon span i:nth-child(6){animation-delay: 1.6s;}


#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	//overflow: hidden;
	z-index: 500;
	padding: 16px 0;
	background: transparent;
}
#header > .container{
	position: relative;
}
#header .logo{
	float: left;
}
#header .logo a{
	display: block;
	font-size: 14px;
	line-height: 33px;
	font-weight: 700;
	color: #555;
	-webkit-transition: background .4s ease-out;
	-o-transition: background .4s ease-out;
	transition: background .4s ease-out;
}
#header.modify .logo a{
	color: #2d2d2d;
}
#header .logo span{
	display: inline-block;
	vertical-align: top;
	color: #3dc9b3;
	font-weight: 900;
}
#header .logo .ico{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #3dc9b3;
	border-radius: 50%;
	margin: -4px 15px 0 0;
}
#header .logo .ico .circle1{
	content: "";
	height: 100%;
	width: 100%;
	background: #3bddc2;
	background: -moz-linear-gradient(45deg, #3bddc2 0%, #10d1ca 100%);
	background: -webkit-linear-gradient(45deg, #3bddc2 0%,#10d1ca 100%);
	background: linear-gradient(45deg, rgba(29, 206, 189, 0.6) 0%,rgba(18, 228, 121, 0.6) 100%);
	border-radius: 50%;
	position: absolute;
	top: -14px;
	left: -40px;
	transform-origin: 45% center;
	-webkit-transform-origin: 45% center;
	animation: rotate1 5s linear infinite;
	-webkit-animation: rotate1 5s linear infinite;
	z-index: -1;
}
#header .logo .ico .circle2{
	content: "";
	height: 100%;
	width: 100%;
	background: #10d1ca;
	background: -moz-linear-gradient(45deg, #10d1ca 0%, #3bddc2 100%);
	background: -webkit-linear-gradient(45deg, #10d1ca 0%,#3bddc2 100%);
	background: linear-gradient(45deg, rgba(18, 228, 121, 0.6) 0%,rgba(29, 206, 189, 0.6) 100%);
	border-radius: 50%;
	position: absolute;
	top: -14px;
	right: -42px;
	transform-origin: 45% center;
	-webkit-transform-origin: 45% center;
	animation: rotate2 5s linear infinite;
	-webkit-animation: rotate2 5s linear infinite;
	z-index: -1;
}
@keyframes rotate1{
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes rotate2{
	100% {
		transform: rotate(360deg);
	}
}
#header .logo .ico img{
	vertical-align: middle;
	max-width: 22px;
	max-height: 100%;
}
#header.modify{
	position: fixed;
	background: #fff;
	-webkit-transition: background .4s ease-out;
	-o-transition: background .4s ease-out;
	transition: background .4s ease-out;
	box-shadow: 0 1px 8px rgba(0,0,0,.25);
}

.languagepicker{
	position: absolute;
	top: 0;
	right: 65px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	height: 33px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0;
	border-radius: 5px;
}
.languagepicker:hover{
	height: 66px;
	background: #e0e0e0;
}
.languagepicker:hover a{
	color: #2d2d2d;
}
.languagepicker a{
	display: block;
	color: #444;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #004041;
	padding: 0 10px;
	line-height: 33px;
}
.languagepicker a:hover{
	background-color: #fff;
	color: #2d2d2d;
}
.languagepicker li:first-child a{
	border: none !important;
}
#header.modify .languagepicker{}
#header.modify .languagepicker:hover{
	background: #777;
}
#header.modify .languagepicker:hover a{
	color: #fff;
}
#header.modify .languagepicker a{
	color: #2d2d2d;
	border-top: 1px solid #fff;
}
#header.modify .languagepicker a:hover{
	background-color: #2d2d2d;
	color: #fff;
}

.open-menu{
	width: 48px;
	height: 33px;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: block;
}
.open-menu span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #777;
	opacity: 1;
	left: 5px;
	border-radius: 10px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	overflow: hidden;
}
.open-menu span:after{
	content: '';
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	bottom: 0;
	width: 0;
	background-color: #3d3d3d;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#header.modify .open-menu span{
	background: #555;
}
#header.modify .open-menu span:after{
	background-color: #1d1d1d;
}
.open-menu:hover span:after{
	width: 100%;
}
.open-menu span:nth-child(1) {
	top: 6px;
	width: 25px;
	left: 12px;
}
.open-menu span:nth-child(2),
.open-menu span:nth-child(3) {
	top: 15px;
	width: 32px;
}
.open-menu span:nth-child(4) {
	top: 24px;
	width: 20px;
	left: 17px;
}
.menu-opened .open-menu span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.menu-opened .open-menu span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 20px;
	left: 12px;
}
.menu-opened .open-menu span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 20px;
	left: 12px;
}
.menu-opened .open-menu span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.menu-opened{
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}
.menu-opened #wrapper{
	-webkit-transform: translate(-20%, 0) translateZ(-580px) scale(1) rotateY(20deg);
	transform: translate(-20%, 0) translateZ(-580px) scale(1) rotateY(20deg);
	overflow-y: auto;
	height: 100vh;
	background: transparent;
	-ms-overflow-style: none;
	//overflow: -moz-scrollbars-none;
}
.menu-opened #wrapper::-webkit-scrollbar { width: 0; }

.fader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #001c2a;
	text-align: center;
}
.fader .fader_logo{
	position: relative;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	font-size: 28px;
	line-height: 1;
	font-weight: 700;
	color: #fff;
	text-align: center;
	min-width: 260px;
	height: 28px;
	margin: 15px;
	-webkit-transition: color 0.5s 0.25s;
	transition: color 0.5s 0.25s;
}
.fader .fader_logo.animated{
	-webkit-transition: none;
	transition: none;
	color: transparent;
}
.fader .fader_logo span{
	display: inline-block;
	vertical-align: top;
	color: #3dc9b3;
	font-weight: 900;
	-webkit-transition: color 0.5s 0.25s;
	transition: color 0.5s 0.25s;
}
.fader .fader_logo.animated span{
	-webkit-transition: none;
	transition: none;
	color: transparent;
}
.fader .fader_logo > div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.fader .fader_logo:before{
	content: '';
	width: 100%;
	height: 4px;
	margin: -2px 0 0 0;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.fader .fader_logo.animated:before{
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.fader .fader_logo strong{
	position: absolute;
	height: 50%;
	width: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}
.fader .fader_logo strong:nth-child(2){
	top: 50%;
}
.fader .fader_logo strong:before{
	position: relative;
	content: "IZUMI";
	display: inline-block;
	vertical-align: top;
	color: #3dc9b3;
	font-weight: 900;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	margin-right: 6px;
}
.fader .fader_logo strong:after{
	position: relative;
	content: "IT COMPANY";
	display: inline-block;
	vertical-align: top;
	color: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.fader .fader_logo strong:first-child:before,
.fader .fader_logo strong:first-child:after{
	top: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.fader .fader_logo strong:nth-child(2):before,
.fader .fader_logo strong:nth-child(2):after{
	top: -14px;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}
.fader .fader_logo.animated strong:before,
.fader .fader_logo.animated strong:after{
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.outer-nav{
	position: absolute;
	height: auto;
}
.outer-nav.vertical{
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.outer-nav.right{
	right: 5%;
}
.outer-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.outer-nav ul li{
	display: block;
}
.outer-nav ul li + li{
	margin-top: 25px;
}
.outer-nav a{
	position: relative;
	display: block;
	font-size: 25px;
	line-height: 25px;
	font-weight: 700;
	color: #fff;
	text-align: right;
	width: 100%;
	letter-spacing: 1px;
	padding: 8px 30px 8px 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.outer-nav a span{
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.outer-nav a:hover span,
.outer-nav li.active a span{
	color: #3dc9b3;
}
.outer-nav a:before{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 3px;
	height: 100%;
	background: #3dc9b3;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.outer-nav a:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background: #3dc9b3;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.outer-nav a:hover:before,
.outer-nav li.active a:before{
	height: 0;
}
.outer-nav a:hover:after,
.outer-nav li.active a:after{
	width: 100%;
}
.outer-nav li{
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.menu-opened .outer-nav li{
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.menu-opened .outer-nav li:nth-child(2){
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}
.menu-opened .outer-nav li:nth-child(3){
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}
.menu-opened .outer-nav li:nth-child(4){
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}
.menu-opened .outer-nav li:nth-child(5){
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}
.menu-opened .outer-nav li:nth-child(6){
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.menu-opened .outer-nav li:nth-child(7){
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

.visual{
	position: fixed;
	min-height: 560px;
	height: 100vh;
	width: 100%;
	background: #fff url(../images/img-portfolio-bg.svg) left top repeat;
	z-index: 1;
}
.cat{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
	-webkit-animation: cat 2s step-start infinite;
	animation: cat 2s step-start infinite;
	-webkit-background-size: cover;
	background-size: cover;
}
@keyframes cat{
	0%{
		background: url(../images/cat.png) 50% 50% no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	50%{
		background: url(../images/cat2.png) 50% 50% no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	100%{
		background: url(../images/cat.png) 50% 50% no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
}
.visual .title{
	margin: 0 auto;
	padding: 0 10px;
	width: auto;
	position: absolute;
	top: 70%;
	left: 50%;
	-webkit-transform: translate(-50%,-30%);
	transform: translate(-50%,-30%);
	text-align: center;
	z-index: 100;
}
.visual .title strong{
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #555;
	letter-spacing: 1px;
	text-shadow: 2px 2px 8px #000;
	margin-bottom: 30px;
}


.content{
	position: relative;
	background: #fff;
	margin-top: 100vh;
	z-index: 2;
}
.content .common-title{
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #6f6f6f;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}

.what-we-do{
	position: relative;
	background: #eafdfc url(../images/img-what-we-do-bg.png) left bottom repeat-x;
	height: 100%;
	padding: 80px 0 225px;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
.about-slide{
	position: relative;
	padding-top: 105px;
}
.about-slide:not(.slick-initialized){
	display: none;
}
.about-slide .slide-box{
	overflow: hidden;
	margin: auto;
	outline: none;
}
.about-slide .slide-item{
	position: relative;
	float: left;
	width: 33.33333%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 0 14px 28px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.about-slide .slick-current .slide-item{
	-webkit-animation-name: wobble-bottom;
	animation-name: wobble-bottom;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
@-webkit-keyframes wobble-bottom {
	16.65% {
		-webkit-transform: skew(-2.5deg);
		transform: skew(-2.5deg);
	}
	33.3% {
		-webkit-transform: skew(2deg);
		transform: skew(2deg);
	}
	49.95% {
		-webkit-transform: skew(-1.5deg);
		transform: skew(-1.5deg);
	}
	66.6% {
		-webkit-transform: skew(1deg);
		transform: skew(1deg);
	}
	83.25% {
		-webkit-transform: skew(-0.5deg);
		transform: skew(-0.5deg);
	}
	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}
@keyframes wobble-bottom {
	16.65% {
		-webkit-transform: skew(-2.5deg);
		transform: skew(-2.5deg);
	}
	33.3% {
		-webkit-transform: skew(2deg);
		transform: skew(2deg);
	}
	49.95% {
		-webkit-transform: skew(-1.5deg);
		transform: skew(-1.5deg);
	}
	66.6% {
		-webkit-transform: skew(1deg);
		transform: skew(1deg);
	}
	83.25% {
		-webkit-transform: skew(-0.5deg);
		transform: skew(-0.5deg);
	}
	100% {
		-webkit-transform: skew(0);
		transform: skew(0);
	}
}
.about-slide .slide-item .holder{
	min-height: 440px;
	//background: #2d9787;
	background: #015c54;
	background: -moz-radial-gradient(top, ellipse cover, #4fd6d3 0%, #51d7d6 100%);
	background: -webkit-radial-gradient(top, ellipse cover, #4fd6d3 0%,#51d7d6 100%);
	background: radial-gradient(ellipse at top, #4fd6d3 0%,#51d7d6 100%);
	overflow: hidden;
	border-radius: 4px;
	padding: 0 20px 20px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
}
.about-slide .slide-item .holder .head{
	display: block;
	min-height: 60px;
	background-color: #2ec29e;
	margin: 0 -20px 20px;
	padding: 20px;
}
.about-slide .slide-item .holder .head strong{
	display: block;
	overflow: hidden;
}
.about-slide .slide-item .holder .head .image{
	float: right;
	margin: -8px 0 0 10px;
}
.about-slide .slide-item .holder .head .image.mt{
	margin-top: -4px;
}
.about-slide .slide-item .holder p{
	margin-bottom: 15px;
}
.about-slide .slick-dots{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.about-slide .slick-dots li{
	display: inline-block;
	vertical-align: top;
}
.about-slide .slick-dots li button{
	position: relative;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: 0;
	background: #fff;
	padding: 0;
	margin: 0 6px;
	outline: none;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-indent: -9999px;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	z-index: 0;
}
.about-slide .slick-dots li button:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.about-slide .slick-dots li:nth-child(1) button:after{
	background: url(../images/ico-code.svg) 50% 50% no-repeat;
	-webkit-background-size: 40px auto;
	background-size: 40px auto;
}
.about-slide .slick-dots li:nth-child(2) button:after{
	background: url(../images/ico-mobile.svg) 50% 50% no-repeat;
	-webkit-background-size: 25px auto;
	background-size: 25px auto;
}
.about-slide .slick-dots li:nth-child(3) button:after{
	background: url(../images/ico-handshake.svg) 50% 50% no-repeat;
	-webkit-background-size: 42px auto;
	background-size: 42px auto;
}
.about-slide .slick-dots li button:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background: rgb(126, 226, 221);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	z-index: -1;
}
.about-slide .slick-dots li button:hover{
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}
.about-slide .slick-dots li button:hover:before{
	background: rgba(126, 226, 221, .9);
}
.about-slide .slick-dots li.slick-active button{
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: inset 0 0 0 1px rgb(118, 218, 213);
}
.about-slide .slick-dots li.slick-active button:before{
	-webkit-transform: translate(-50%, -50%) scale(0.9);
	transform: translate(-50%, -50%) scale(0.9);
}

.portfolio{
	position: relative;
	background: #fff url(../images/img-portfolio-bg.svg) left top repeat;
	padding: 80px 0;
}
.menu-opened .portfolio{
	pointer-events: none;
}
.slide{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 0 120px;
}
.slide .slide-item{
	position: relative;
	margin: auto;
	outline: none;
	transform: scale(0.8);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 0 0 10px;
}
.slide .slide-item a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	padding: 5.05% 0.55% 0.5% 0.55%;
}
.slide .slide-item img{
	display: block;
	width: 100%;
	height: 100%;
}
.slide .slide-item.slick-center{
	transform: scale(1);
}
.slide:not(.slick-initialized){
	display: none;
}
.slide .slide-item img.slick-loading{
	background: #fff url('ajax-loader.gif') center center no-repeat;
}
.slide .slide-item .absolute{
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.slide .slide-item .phone{
	position: absolute;
	left: -5%;
	bottom: 0;
	width: 16%;
	transform: translateY(-50px) scale(1);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 1.1s ease-in-out;
	transition: all 1.1s ease-in-out;
}
.slide .slide-item .phone .absolute{
	position: absolute;
	top: 9%;
	left: 2%;
	right: 2%;
	bottom: auto;
	max-width: 95%;
}
.slide .slide-item .plan{
	position: absolute;
	right: -6%;
	bottom: 0;
	width: 29%;
	transform: translateY(-50px) scale(1);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.slide .slide-item .plan .absolute{
	position: absolute;
	top: 9%;
	left: 4%;
	right: 4%;
	bottom: auto;
	max-width: 92%;
}
.slide .slide-item.slick-current .phone,
.slide .slide-item.slick-current .plan{
	opacity: 1;
	z-index: 4;
	transform: translateY(0) scale(1);
}
.team-slide .slick-dots,
.slide .slick-dots{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.team-slide .slick-dots li,
.slide .slick-dots li{
	display: inline-block;
	vertical-align: top;
}
.team-slide .slick-dots li button,
.slide .slick-dots li button{
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 0;
	background: #fff;
	padding: 0;
	margin: 0 6px;
	outline: none;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-indent: -9999px;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.team-slide .slick-dots li button:after,
.slide .slick-dots li button:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgb(126, 226, 221);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.team-slide .slick-dots li button:hover,
.slide .slick-dots li button:hover{
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
}
.team-slide .slick-dots li button:hover:after,
.slide .slick-dots li button:hover:after{
	background: rgba(126, 226, 221, .9);
}
.team-slide .slick-dots li.slick-active button,
.slide .slick-dots li.slick-active button{
	-webkit-transform: scale(1);
	transform: scale(1);
	box-shadow: inset 0 0 0 1px rgb(118, 218, 213);
}
.team-slide .slick-dots li.slick-active button:after,
.slide .slick-dots li.slick-active button:after{
	-webkit-transform: translate(-50%, -50%) scale(0.6);
	transform: translate(-50%, -50%) scale(0.6);
}


.our-team{
	position: relative;
	background: #fff url(../images/img-our-team-bg.png) left bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 80px 0;
}
.our-team .row{
	font-size: 0;
	line-height: 0;
	margin: 0 -15px;
	padding: 0 0 45px;
	white-space: nowrap;
}
.team-slide .slick-dots li button:after{
	background: rgb(85, 204, 198);
}
.team-slide .slick-dots li button:hover:after{
	background: rgba(85, 204, 198, 0.9);
}
.our-team .item-card{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	height: auto;
	text-align: center;
	padding: 10px 15px;
	overflow: hidden;
	outline: none;
}
.our-team .item-card .item-card-img{
	display: block;
	position: relative;
	background: #44cbb6;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	margin-bottom: 10px;
}
.our-team .item-card .item-card-img img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	transform: translate(-5px, -5px) rotate(0.1deg);
}
.our-team .item-card span{
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.our-team .item-card sup{
	display: block;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	color: #999;
}

.our-team .img-group{
	overflow: hidden;
	margin: 0 0 10px -5px;
}
.our-team .img-group img{
	display: block;
	max-width: 100%;
	max-height: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform .4s ease-in;
	transition: transform .4s ease-in;
}
.our-team .img-group img.first{
	float: left;
	width: 57.15%;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.our-team .img-group img.first.animate{
	-webkit-transform: scale(1);
	transform: scale(1);
}
@-webkit-keyframes scale{
	0%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale{
	0%{
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.our-team .img-group .group-list{
	float: right;
	width: 42.85%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}
.our-team .img-group .group-list li{
	position: relative;
	float: left;
	width: 33.333333%;
	overflow: hidden;
}
.our-team .img-group .group-list li:hover{
	cursor: pointer;
}
.our-team .img-group .group-list li:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: url(../images/search.png) no-repeat;
	background-size: 100% auto;
	width: 32px;
	height: 32px;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	z-index: 2;
}
.our-team .img-group .group-list li:hover:before{
	opacity: 1;
}
.our-team .img-group .group-list li:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 28, 42, 0.25);
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	z-index: 1;
}
.our-team .img-group .group-list li:hover:after{
	opacity: 1;
}
.our-team .img-group .group-list li:hover img{
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}


.visual-bottom{
	position: relative;
	background: #75f6ef;
	background: -moz-linear-gradient(-45deg, #75f5eb 0%, #bdf7ee 100%);
	background: -webkit-linear-gradient(-45deg, #75f5eb 0%,#bdf7ee 100%);
	background: linear-gradient(135deg, #75f5eb 0%,#bdf7ee 100%);
	padding: 15px;
}
.visual-bottom #logo_svg{
	display: block;
	margin: 0 auto;
	width: 275px;
	height: auto;
}
.visual-bottom #logo_svg path{
	-webkit-transition: fill-opacity .2s ease-in, stroke-opacity .2s ease-in;
	transition: fill-opacity .2s ease-in, stroke-opacity .2s ease-in;
	fill: rgb(35,31,32);
	fill-opacity: 0;
	fill: #001c2b;
}
.visual-bottom #logo_svg.finished path{
	fill-opacity: 1;
}


.contact-us{
	position: relative;
	background: #fff url(../images/img-contact-us-bg.png) top right no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 80px 0;
}
.contact-us .btn-warning{
	display: block;
	margin: -10px auto 40px;
}
.contact-us .btn-default{
	display: block;
	margin: 40px auto 0;
}
.company-form{
	max-width: 500px;
	margin: 0 auto;
}
.form-box{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	margin-top: 10px;
	z-index: 1;
}
/*form-control*/
.form-control{
	position: relative;
	display: block;
	vertical-align: top;
	width: 100%;
	max-width: 100%;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	padding: 0;
	border: 0;
	background: transparent;
	color: #2d2d2d;
	border-radius: 0;
	box-shadow: none;
	transition: all 0.3s;
}
textarea.form-control{
	width: 100%;
	max-width: 100%;
	min-height: 180px;
	padding: 15px 0;
	resize: none;
	overflow: auto;
}
.form-control:focus{
	outline: none;
}
.form-control::-moz-placeholder{color: #d5d5d5;}
.form-control:-ms-input-placeholder{color: #d5d5d5;}
.form-control::-webkit-input-placeholder{color: #d5d5d5;}
.form-control:focus + .input-label,
.input--filled .input-label{
	color: #333;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.form-control:focus ~ .graphic,
.input--filled .graphic{
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
.input-label{
	position: absolute;
	top: 24px;
	left: 0;
	display: block;
	font-size: 18px;
	line-height: 25px;
	font-weight: 900;
	text-transform: uppercase;
	width: 100%;
	text-align: left;
	padding: 0;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
	transition: transform 0.3s 0.1s, color 1s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input-label-content{
	position: relative;
	display: block;
	padding: 0;
	width: 100%;
}
.req{
	color: #ed1c24;
}
.graphic{
	position: absolute;
	bottom: 0;
	left: 0;
	fill: none;
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	height: 60px;
}

#footer{
	position: relative;
	background: #015c54;
	background: -moz-radial-gradient(top, ellipse cover, #3dcab3 35%, #008e8d 100%);
	background: -webkit-radial-gradient(top, ellipse cover, #3dcab3 35%,#008e8d 100%);
	background: radial-gradient(ellipse at top, #3dcab3 35%,#008e8d 100%);
	padding: 30px 0;
	z-index: 2;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
}
#footer .holder-info{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 50%;
	align-self: flex-end;
	text-align: right;
}
#footer .btn-warning{
	max-width: 140px;
	font-size: 10px;
	line-height: 16px;
	display: block;
	margin: 0 0 16px auto;
	padding: 8px 12px;
}
#footer .holder{
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
}
#footer .copy{
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
#footer .links-list{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 50%;
}
#footer .links-list li{
	display: block;
}
#footer .links-list li + li{
	margin-top: 20px;
}
#footer .links-list .link{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#footer .links-list .link svg{
	position: relative;
	display: inline-block;
	vertical-align: top;
	fill: #fff;
	width: 30px;
	height: auto;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	z-index: 5;
}
#footer .skype .ico{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin: -4px 20px 0 0;
}
#footer .mail .ico{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 23px;
	margin: -2px 20px 0 0;
}
#footer .links-list .link.skype .ico:before{
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #fff;
	border-radius: 50%;
	z-index: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0;
}
#footer .links-list .link.skype:hover .ico:before{
	opacity: 1;
}
#footer .links-list .link.skype:hover{
	color: #75d9ff;
	text-decoration: underline;
}
#footer .links-list .link.skype:hover svg{
	fill: #75d9ff;
}
#footer .links-list .link.mail:hover{
	color: #414645;
	text-decoration: underline;
}
#footer .links-list .link.mail:hover svg{
	fill: #414645;
}

.popup{
	max-width: 800px;
	max-height: 600px;
}
.popup .link{
	color: #3dc9b3;
}
.popup .box{
	display: block;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	margin-top: 20px;
}
.popup .box .box-item + .box-item{
	margin-top: 25px;
}
.popup .box .box-item h3{
	text-align: left;
	margin-bottom: 15px;
	height: auto;
}
.popup .box .box-item p + p{
	margin-top: 10px;
}
#popup2{
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	width: 300px;
	height: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background-color: #f9f9f9;
	z-index: 9999;
	border-radius: 4px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 30px 15px;
}
#popup2.visible{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
#popup2 p{
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	margin-bottom: 25px;
}
#popup2 .form-control{
	border: 1px solid #92989e;
	border-radius: 4px;
	padding: 4px 12px;
	margin-bottom: 20px;
	height: 45px;
}
#popup2 .form-control:focus{
	border-color: #333;
}
#popup2 .close{
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background-image: url(../images/fancybox_sprite.png);
	z-index: 8040;
}
.fancybox-overlay{
	background: rgba(255, 255, 255, 0.8);
}
.fancybox-outer{
	padding-top: 120px;
}
.fancybox-opened .fancybox-skin{
	padding: 15px 28px 28px !important;
}
.ancorn-list{
	margin: 0;
	padding: 15px;
	list-style: none;
	background: #f9f9f9;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 0;
	line-height: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.ancorn-list li{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
}
.ancorn-list li a{
	display: block;
	padding: 8px 10px;
}

@media screen and (max-width: 1200px){
	.visual .title{
		width: 70%;
	}
}
@media screen and (max-width: 991px){
	.about-slide .slide-item{
		padding: 0 5px 10px;
	}
}
@media screen and (max-width: 767px), screen and (orientation: landscape) and (max-width: 767px), screen and (orientation: portrait ) and (max-width: 767px){
	
	#header{
		padding: 8px 0;
	}
	.outer-nav a{
		font-size: 16px;
		line-height: 16px;
		padding: 5px 20px 5px 20px;
	}
	.outer-nav ul li + li{
		margin-top: 20px;
	}
	.menu-opened #wrapper{
		-webkit-transform: translate(-30%, 0) translateZ(-780px) scale(1) rotateY(30deg);
		transform: translate(-30%, 0) translateZ(-780px) scale(1) rotateY(30deg);
	}

	h1{
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 4px;
		margin: 0 0 20px;
	}
	h2{
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 16px;
	}
	h3, .typed-cursor{
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 30px;
	}
	
	.btn{
		font-size: 14px;
		line-height: 18px;
		padding: 10px 8px;
	}
	.btn-warning{
		font-size: 10px;
		line-height: 16px;
		padding: 6px 8px;
		min-width: auto;
		max-width: 130px;
	}
	.btn-default{
		max-width: 200px;
		height: 48px;
		line-height: 28px;
	}
	.btn-default .ico{
		top: 44%;
	}

	.heading{
		margin-bottom: 30px;
	}
	.heading .icon:before{
		border-top: 2px solid transparent;
		border-right: 2px solid transparent;
		width: 12px;
		height: 12px;
		border-color: #45cbb6;
	}
	.heading .icon span{
		display: block;
		position: absolute;
		top: 8px;
		height: 4px;
	}
	.heading .icon span i{
		width: 4px;
		height: 4px;
	}
	.visual .title{
		width: 100%;
	}
	.visual .title strong{
		font-size: 12px;
		line-height: 18px;
	}
	.cat{
		width: 350px;
		height: 350px;
	}

	.content .common-title{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 40px;
	}
	.what-we-do{
		padding: 35px 0 90px;
		background-size: auto 80px;
	}
	.about-slide .slide-item{
		width: 100%;
	}
	.about-slide .slide-item .holder{
		min-height: auto;
	}
	.about-slide .slide-item .holder p{
		font-size: 12px;
		line-height: 18px;
	}
	.portfolio{
		padding: 35px 0;
	}
	.slide{
		padding: 0 0 50px;
	}
	.slide .slick-dots li button{
		width: 12px;
		height: 12px;
	}
	.slide .slick-dots li button:after{
		width: 12px;
		height: 12px;
	}
	.contact-us{
		padding: 35px 0;
	}
	.contact-us .btn-warning{
		display: block;
		margin: -15px auto 20px;
	}
	.form-box{
		margin-top: 6px;
	}
	.form-control{
		height: 40px;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
	}
	textarea.form-control{
		min-height: 110px;
	}
	.input-label{
		top: 20px;
		font-size: 15px;
		line-height: 20px;
	}
	.contact-us .btn-default{
		margin: 35px auto 0;
	}

	#footer{
		padding: 20px 0;
		font-size: 12px;
		line-height: 20px;
	}
	#footer .holder{
		flex-flow: row wrap;
	}
	
	#footer .links-list li + li{
		margin-top: 10px;
	}
	#footer .links-list .link{
		font-size: 15px;
		line-height: 30px;
	}
	#footer .skype .ico{
		width: 25px;
		height: 25px;
		margin: -2px 8px 0 0;
	}
	#footer .links-list .link.skype .ico:before{
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
	}
	#footer .mail .ico{
		width: 25px;
		height: 19px;
		margin: -2px 8px 0 0;
	}
	#footer .links-list .link svg{
		width: 25px;
	}

	#footer .holder-info{
		text-align: center;
	}
	#footer .btn-warning{
		margin: 10px auto;
		padding: 6px 8px;
	}

	.fader .fader_logo{
		font-size: 20px;
		min-width: 220px;
		height: 20px;
	}
	.fader .fader_logo:before{
		height: 2px;
		margin: -1px 0 0 0;
	}
	.fader .fader_logo strong:nth-child(2):before, .fader .fader_logo strong:nth-child(2):after{
		top: -11px;
	}

	.fancybox-opened .fancybox-skin{
		padding: 10px !important;
	}
	.fancybox-outer{
		padding-top: 0;
	}
	.ancorn-list{
		margin: 0 !important;
		padding: 0;
		position: static;
	}
	.ancorn-list li{
		width: 100%;
		font-size: 12px;
		line-height: 16px;
	}
	.ancorn-list li a{
		padding: 6px 4px;
	}
	.popup .box .box-item + .box-item{
		margin-top: 20px;
	}
	.popup .box .box-item h3{
		margin-bottom: 12px;
	}
	.popup .box .box-item .list{
		padding-left: 20px;
	}

	.our-team{
		padding: 35px 0;
	}

	.visual-bottom #logo_svg{
		width: 100px;
	}
}
@media screen and (max-width: 600px){
	.our-team .img-group img.first{
		float: none;
		width: 100%;
	}
	.our-team .img-group .group-list{
		float: none;
		width: 100%;
	}
}
@media screen and (max-width: 550px){
	#footer .links-list{
		width: 100%;
	}
	#footer .holder-info{
		width: 100%;
	}
}
@media screen and (orientation: landscape) and (max-width: 767px){
	.about-slide .slide-item{
		width: 50%;
	}
	.about-slide .slide-item .holder{
		min-height: 275px;
	}
}